@import 'https://fonts.googleapis.com/css?family=Roboto:400,700" rel=';

/* ---- Globaalsed stiilid ---- */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
  color: blue;
  transition: all 0.2s ease;
}

a:hover {
  color: #333;
}

img {
  display: block;
}

/* ---- Utiil klassid ---- */

.container {
  width: 1440px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.table-wrapper {
  width: 100%;
}

/* ---- Header ---- */

header {
  background: #e60000;
  width: 100%;
  height: 5em;
}
.header-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* ---- Main ---- */

.main {
  padding: 100px 0;
}

/* ---- Danger generation ---- */
.situation-generator {
  display: flex;
}

.situation {
  padding: 0px 0px 20px 20px;
  text-align: center;
  line-height: 30px;
}
.situation-hero {
  margin: 15px 40px;
}

/* ---- Tabeli stiilid ---- */

table {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

table tr {
  border: 1px solid #ddd;
}

table th,
table td {
  padding: 15px 20px;
  text-align: left;
  vertical-align: middle;
  text-align: center;
}

table td img {
  max-width: 40px;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

table th {
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e2e2e2;
}

/* ---- Footer ---- */

.footer {
  display: flex;
  padding: 1rem 0;
  background-color: #e60000;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.footer-info a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;
}
.footer-info a:hover {
  color: #eaeaea;
}
.footer-info {
  line-height: 24px;
}

/* ---- Form buttons ---- */
.form-buttons {
  display: flex;
}

/* ---- Misc ---- */

#generate-situation {
  text-decoration: none;
  display: inline-block;
  color: #333;
  padding: 10px 15px;
  margin: 20px 0;
  background-color: #e2e2e2;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.situation-hero select {
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #e2e2e2;
  border: none;
}

#generate-situation:hover {
  background-color: #333;
  color: #fff;
}

#answerDiv {
  font-size: 20px;
}

#peopleInvolved {
  font-size: 30px;
}

#savingButton {
  display: none;
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  margin: 20px 0;
  background-color: #e2e2e2;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

#savingButton:hover {
  background-color: #333;
  color: #fff;
}

/* ---- Heroes list ---- */

.heroes-list {
}
.hero-item {
  padding: 20px 0;
  border-top: 1px solid #333;
}
.hero-item:last-child {
  border-bottom: 1px solid #333;
}
.hero-item__header {
  display: flex;
  align-items: center;
  position: relative;
}
.hero-item__header .hero--toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
}
.hero-item__header .hero--toggle i {
  transition: all 0.2s ease;
  transform-origin: center;
}
.hero-item__header .hero--toggle.open i {
  transform: rotate(180deg);
}
.hero-item__header .thumbnail {
  max-width: 100px;
  margin-right: 20px;
}
.hero-item__header .thumbnail img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.hero-item__header .hero--name {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}
.hero-item__body {
  display: none;
  margin-top: 20px;
}
.hero-item__body p {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.hero-item__body p span {
  display: block;
  font-weight: 400;
  margin-right: 10px;
}

/* ---- Responsive ---- */

@media only screen and (max-width: 767px) {
  .table-wrapper {
    overflow: auto;
  }
  .header-images img:not(:first-child):not(:last-child) {
    display: none;
  }
  .footer {
    justify-content: center;
  }
  .footer > img {
    display: none;
  }
  .situation-generator {
    flex-direction: column;
  }
  .situation {
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
  }
  .situation-hero {
    margin: 0;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .hero-item__header .hero--name {
    font-size: 24px;
    line-height: 30px;
  }
  table tr {
    display: flex;
    flex-direction: column;
  }
}
