@import 'https://fonts.googleapis.com/css?family=Roboto:400,700" rel=';

/* ---- Globaalsed stiilid ---- */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
  color: blue;
  transition: all 0.2s ease;
}

a:hover {
  color: #333;
}

img {
  display: block;
}

/* ---- Utiil klassid ---- */

.container {
  width: 1440px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.table-wrapper {
  width: 100%;
}

/* ---- Header ---- */

header {
  background: #e60000;
  width: 100%;
  height: 5em;
}
.header-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* ---- Main ---- */

.main {
  padding: 100px 0;
}

/* ---- Danger generation ---- */
.situation-generator {
    display: flex;
}

.situation{
    padding: 0px 0px 20px 20px;
    text-align: center;
    line-height: 30px;
}
.situation-hero {
    margin: 15px 40px;
}

/* ---- Tabeli stiilid ---- */

table {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

table tr {
  border: 1px solid #ddd;
}

table th,
table td {
  padding: 15px 20px;
  text-align: left;
  vertical-align: middle;
  text-align: center;
}

table td img {
  max-width: 40px;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

table th {
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e2e2e2;
}

/* ---- Footer ---- */

footer {
  display: flex;
  padding: 0.2rem;
  background-color: #e60000;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.footer-info a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;
}
.footer-info a:hover {
  color: #eaeaea;
}
.footer-info {
  line-height: 24px;
}

/* ---- Form buttons ---- */
.form-buttons {
    display: flex;
}

/* ---- Misc ---- */

#generate-situation {
  text-decoration: none;
  display: inline-block;
  color: #333;
  padding: 10px 15px;
  margin: 20px 0;
  background-color: #e2e2e2;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.situation-hero select{
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #e2e2e2;
    border: none;
    
}

#generate-situation:hover {
  background-color: #333;
  color: #fff;
}

#answerDiv{
    font-size: 20px;
}

#peopleInvolved{
    font-size: 30px;
}

#savingButton {
  display: none;
}
/* ---- Responsive ---- */

@media only screen and (max-width: 767px) {
  .table-wrapper {
    overflow: auto;
  }
}
